.main-title {
    text-align: center;
    font-weight: 600;
    span {
        color: var(--color-secondary)
    }
}

.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
    .left-contact {
        flex: 2;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
        }

        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {

            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                p {
                    margin: .3rem 0;
                    padding: 0;
                }

                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;

                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .contact-icon {

            display: flex;
            margin-top: 2rem;
            justify-content: center;

            a {
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-grey-5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;

                &:hover {
                    background-color: var(--color-secondary);

                    i { 
                        color: var(--color-primary); 
                    }
                }

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;

        .input-control {
            margin: 1.5rem 0;

            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey-5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }

        .i-c-2 {
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }

        .button-container {
            display: flex;
            align-self: flex-start;
        }


        .submit-btn {
            margin: 2rem auto;
            border-radius: 30px;
            color: inherit;
            font-weight: 600;
            position: relative;
            border: 1px solid var(--color-secondary);
            background-color: var(--color-primary);
            display: flex;
            align-self: flex-start;
            align-items: center;
            padding: 1rem;
            overflow: hidden;


            &:hover {
                transition: all .4s ease-out;
                background-color: var(--color-secondary);
                
            }

            .btn-text { padding: 0 2rem; }
        }
    }
}