<div class="container">
    <app-translation-button></app-translation-button>
    <app-theme></app-theme>
    <header>
        <div class="main-title">
            <h2>{{ 'contact.title' | translate }} <span>{{ 'common.me' | translate }}</span></h2>
        </div>
    </header>
    <div class="contact-container">
        <div class="contact-content-con">
            <div class="left-contact">
                <h4>{{ 'contact.contact_me' | translate }}</h4>
                <p>{{ 'contact.description' | translate }}</p>
                <div class="contact-info">
                    <div *ngFor="let item of contactItemList" class="contact-item">
                        <div class="icon">
                            <fa-icon [icon] =  item.icon ></fa-icon>
                            <span>{{ item.type | translate }}</span>
                        </div>
                        <p>
                            : {{ item.data | translate }}
                        </p>
                    </div>
                </div>
                <div class="contact-icons">
                    <div class="contact-icon">
                        <a href="https://github.com/yacine-benichou/" target="_blank">
                            <fa-icon [icon] = "githubIcon"></fa-icon>
                        </a>
                        <a href="https://codepen.io/yacine-epf" target="_blank">
                            <fa-icon [icon] = "codePenIcon"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/yacine-benichou/" target="_blank">
                            <fa-icon [icon] = "linkedinIcon"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-contact">
                <form class="contact-form">
                    <div class="input-control i-c-2">
                        <input type="text" required placeholder="{{ 'contact.name_input_placeholder' | translate }}">
                        <input type="email" required placeholder="{{ 'contact.email_input_placeholder' | translate }}">
                    </div>
                    <div class="input-control">
                        <input type="text" required placeholder="{{ 'contact.subject_input_placeholder' | translate }}">
                    </div>
                    <div class="input-control">
                        <textarea name="" id="" cols="15" rows="8" placeholder="{{ 'contact.textarea_placeholder' | translate}}"></textarea>
                    </div>
                    <div class="button-container">
                        <app-download-button></app-download-button>
                        <button type="submit" class="submit-btn">
                            <span class="btn-text">{{ 'contact.send_button' | translate }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-content">
        <app-navigation></app-navigation>
    </div>
</div>
