<div class="container">
    <app-translation-button></app-translation-button>
    <app-theme></app-theme>
    <main>
        <div class="main-content">
            <div class="left-content">
                <div class="image-section">
                    <img src="../../../assets/images/photo-étudiant.png" alt="image of myslelf" />
                </div>
            </div>
            <div class="right-content">
                <div class="presentation-section">
                    <div class="presentation-text-container">
                        <h1 class="name">
                            {{ 'home.welcome' | translate }} <span>{{ 'home.fullName' | translate }}</span>
                        </h1>
                        <p>
                            {{'home.presentation' | translate }}
                        </p>
                    </div>
                    <app-download-button></app-download-button>
                </div>
            </div>
            <div class="nav-content">
                <app-navigation></app-navigation>
            </div>
        </div>
    </main>
    
</div>