<div class="container">
    <app-theme></app-theme>
    <main>
        <div class="main-content">
            <div class="left-content">
                <div class="image-section">
                    <img src="../../../assets/images/photo-étudiant.png" alt="image of myslelf" />
                </div>
            </div>
            <div class="right-content">
                <div class="presentation-section">
                    <div class="presentation-text-container">
                        <h1 class="name">
                            Bonjour, Je m'appelle <span>Yacine BENICHOU</span>
                        </h1>
                        <p>
                            Je suis un développeur web qui aime créer des applications et des sites web.
                        </p>
                    </div>
                    <app-download-button></app-download-button>
                </div>
            </div>
            <div class="nav-content">
                <app-navigation [isDarkThemeOn] = "isDarkThemeOn"></app-navigation>
            </div>
        </div>
    </main>
    
</div>