<div class="container">
    <app-theme></app-theme>
    <header>
        <div class="main-title">
            <h2>MON <span>PORTFOLIO</span></h2>
        </div>
        <p class="port-text">Voici quelques projets Front-end que j'ai réalisé.</p>
    </header>
    <main>
        <div class="portfolios">
            <div *ngFor="let project of projects"  class="portfolio-item">
                <div class="image">
                    <img src="{{ project.src }}" alt="{{ project.imgDescription }}">
                </div>
                <div class="hover-items">
                    <h3>{{ project.title }}</h3>
                    <div class="icons">
                        <a *ngIf="project.githubLink" href="{{ project.githubLink }}" class="icon" target="_blank">
                            <fa-icon [icon] = "githubIcon"></fa-icon>
                        </a>
                        <a *ngIf="project.codePenLink" href="{{ project.codePenLink }}" class="icon" target="_blank">
                            <fa-icon [icon] = "codePenIcon"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="nav-content">
        <app-navigation></app-navigation>
    </div>
</div>
