<nav class="nav-container">
    <ul class="nav-list">
        <!-- définit les routes de sortie et ajoute la classe active-btn à un élément de la liste
            quand la page est sur sa route -->
        <li class="control" [routerLink]="['/home']" routerLinkActive="active-btn">
            <a class="button-home"><fa-icon [icon] = "homeIcon"></fa-icon></a>
        </li>
        <li class="control" [routerLink]="['/about_me']" routerLinkActive="active-btn">
            <a class="button-about"><fa-icon [icon] = "userIcon"></fa-icon></a>
        </li>
        <li class="control" [routerLink]="['/projects']" routerLinkActive="active-btn">
            <a class="button-project"><fa-icon [icon] = "briefcaseIcon"></fa-icon></a>
        </li>
        <li class="control" [routerLink]="['/contact_me']" routerLinkActive="active-btn">
            <a class="button-contact"><fa-icon [icon] = "enveloppeIcon"></fa-icon></a>
        </li>
    </ul>
</nav>